@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger .line {
  transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
  transform-origin: center;
}

.hamburger[aria-expanded='true'] .line {
  transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
}

.hamburger[aria-expanded='true'] :is(.top, .bottom) {
  y: 45;
}

.hamburger[aria-expanded='true'] .top {
  rotate: 45deg;
}

.hamburger[aria-expanded='true'] .middle {
  opacity: 0;
}

.hamburger[aria-expanded='true'] .bottom {
  rotate: -45deg;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-white;
}

::-webkit-scrollbar-thumb {
  @apply bg-sky-700;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-sky-800;
}
